.main{
    width: 100%;
    
    display: flex;
}

.aside{
    width: 18%;
    box-shadow: var(--shadow);
}

.content{
    width: 82%;
    background-color: var(--background-color);
}

@media screen and (max-width: 1380px) and (min-width: 1151px) {
    .aside{
        width: 16%;
    }
    .content{width: 84%}
}

@media screen and (max-width: 1150px) {
    .aside{
        width: 230px;
    }
}