.ruim, .bom, .mid{
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    text-align: center;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.ruim{
    font-size: 0.875rem;
    color: oklch(63.7% 0.237 25.331);
    background-color: oklch(88.5% 0.062 18.334);
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.bom{
    font-size: 0.875rem;
    color: oklch(53.81% 0.15405 148.442);
    background-color: oklch(92.5% 0.084 155.995);
}

.mid{
    font-size: 0.875rem;
    color: #f39d2c;
    background-color: #fff5df;
}