.aside {
    height: 100vh;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border-color);
}

.menuHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.menuItem {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.menuItem:hover {
    background-color: oklch(93.2% 0.032 255.585);
    color: var(--azul);
    font-weight: 600;
    border-left: 4px solid var(--azul);
}

.menuItemIcon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footeText{padding: 1rem 0rem;}
.footeText p{line-height: 1.2;}
.moreButton {
    justify-self: flex-start;
    align-self: center;
}